.tags{
    margin-left: 10px;
    background-color: white;
    color: #258dcd;
}

.tags .tag-head{
    font-size: 14px;
    color: #258dcd;
    display: inline-block;
    text-align: center;
    border: 1pt transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 10px; !important;
    text-decoration: none;
}

.tags .tag{
    display: inline-block;
    padding: 0 3px; !important;
    color: #258dcd;
    margin: 4px 0;
    text-decoration: none;
}

.tags a:hover{
    color: ghostwhite;
    background-color: #258dcd;
    border: 2px transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tags .tag-selected{
    color: ghostwhite;
    background-color: #258dcd;
    text-decoration: none;
    border: 2px transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.poster-list{
    margin-left: 10px;
    margin-top: 25px;
}

.poster-item{
    display: table;
    width: 20%;
}

.poster-tag{
    height: 100%;
    width: 75%;
    overflow: hidden;
}

.poster-tag img{
    max-height: 100%; !important;
    width: auto; !important;
}

.poster-intro{
    display: inline-block;
    margin: 5px 0;
}

.poster-intro a{
    display: inline;
}

.poster-name{
    display: inline;
    -ms-word-break: break-word;
    word-break: break-word;
    color: #494949;
    text-decoration: none;
    margin-left: 4px;
}

.poster-name:hover,
.poster-name:visited{
    color: #27a;
    text-decoration: underline;
}

.poster-star{
    color: #f9c116;
    margin-left: 10px;
}

.load-more{
    background-color: whitesmoke;
    color: #27a;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 20px auto;
    font-size: 14px;
    display: block;
}

.load-more:hover{
    text-decoration: underline;
    color: #27a;
}
